<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>
 
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <title>Status Ticket </title>
</head>
<body>
    <table align="center" width="600" bgcolor="#ffffff" border="0" cellpadding="4" cellspacing="1" style="border:1px solid #dddddd;">
        <tr>
            <td>
                <!--Header-->
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td valign="top">
                            <table cellpadding="0" cellspacing="0" width="100%" border="0">
                                <tr>
                                    <td align="center" height="92">
                                        <img src=\"cid:image\" alt="Prompt Manager" width="588" height="92" />
                                    </td>
                                </tr>
                            </table>
                            <table cellpadding="10" width="100%" bgcolor="#3e3934">
                                <tr>
                                    <td align="center" height="22">
                                        <font color="#ffffff" face="arial narrow,arial,sans-serif" size="4"><b>Ticked <java:1></b></font>
                                    </td>
                                </tr>
                            </table>
                            <table cellpadding="0" cellspacing="0" width="100%" border="0">
                                <tr>
                                    <td align="center" height="5">
                                       
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="10" width="100%">
                    <tr>
                        <td>
                            <!--1 Colonna-->
                            <table cellpadding="15" cellspacing="0" width="100%">
                                <tr>
                                    <td colspan="2">
                                        <font color="#666666" face="arial narrow,arial,sans-serif" size="2">
                                            Caro Usuário,
<br>
<br>Este e-mail tem o objetivo de informá-lo o status do ticket <java:2>
<br><java:3>
<br>
<br>Atenciosamente.
<br>Prompt Manager – TIM
<br>
                                        </font>
                                        <br />
                                    </td>
                                </tr>
                            </table>
                            <!--DIVISIONE-->
                            <table cellpadding="10" cellspacing="0" width="100%">
							
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#dddddd">
                                            <tr>
                                                <td height="1"></td>	
															<p align="right"><font size="2" color="#808080"> <java:4></font></p>													
                                            </tr>
											
                                        </table>																										
                                    </td>
									
                                </tr>
                            </table>
                        </td>
						
                    </tr>
                </table>
            </td>
			
       
    </table>
	
</body>
</html>
